[user]
	name = TerrariumCode
	email = 12590206+cmac4603@users.noreply.github.com
{{- if eq .chezmoi.hostname "omarchy" }}
	signingkey = 4C41CFBBF66BDD2C
{{- else if eq .chezmoi.hostname "HMILSQ-6T9DLHG6" }}
	signingkey = B2DCFB0E0C151F82
{{- else }}
	signingkey = DD4CD8A7DA163414
{{- end }}

[commit]
	gpgsign = true
{{- if eq .chezmoi.hostname "HMILSQ-6T9DLHG6" }}
	template = /Users/cmacrae/.gitcommitmsg.txt
{{- end }}
	verbose = true

[push]
	autoSetupRemote = true
	default = upstream

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true
	line-numbers = true

[merge]
	conflictStyle = zdiff3

[init]
	defaultBranch = main

[pull]
	rebase = true

[fetch]
	prune = true
